.App {
  text-align: center;
  background-color: #282c34;
  height: auto;
}




@font-face {
  font-family: "Retro";
  src: local("RetroGaming"),
    url("./Fonts/RetroGaming.ttf") format("truetype");
}


#gameCanvas {
  background-color: purple;
  border-radius: 20px;
}

#betweenRound {
  background-color: #282c34;
  height: 100vh;
  border: solid;
  font-family: Retro;
  color:aqua;
}

.StatCard {
  border: solid;
  border-color: blueviolet;
  z-index: 1;
}

#nav-bar {
  display:block;
}

.nav-bar-link {
  font-size: x-large;
  border: solid;
}


